.form{
    width: 60%;
    margin: 0 auto;
}
.form> input{
    padding: 12px 20px;
    width: 70%;
    border: solid 1px rgb(243, 155, 92);
    border-radius: 5px;
}

.form > button{
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: rgb(139, 250, 139);
    border-radius: 5px;
    color: #ffffff;
}
.form > h1{
    text-align: center;
    margin-right: 50%;
}
#login{
    /* text-align: center; */
    margin-left: 42%;
}
.log{
    margin-top: 5%;
    margin-left: 10%;
    /* border: solid; */
    /* background-color: aqua; */
}